*{
	padding: 0;
	margin: 0;
}
body{
	background-color:rgb(230,235,255);
}
h1{
	color: green;
	text-align: center;
}
.right{
	float: right;
	position: fixed;
	top: 30px;
	left: 400px;
}
ul.nav li,ul.sub1 li{
	list-style-type: none;
	width: 150px;
	float: left;
	background-color: green;
	border: 1px solid rgb(230,235,255);
	height: 30px;
	line-height: 30px;
	text-align: center;
}
a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	display: block;
}
a:hover{
	background-color: gray;
}

ul.nav li ul.sub1 li{
	display: none;
}
ul.nav li:hover ul.sub1 li{
	display: block;
}
div.slider{
	margin: 100px 100px 100px 100px;
	border: 1px solid red;
	height: 500px;
	width: 700px;
	overflow: hidden;
	position: relative;
}
div.slider > img{
	height: 500px;
	width: 700px;
	animation: slide 15s infinite;
	animation-direction: alternate;
}
@keyframes slide{

	0%{
		transform: translateY( 0px );
	}
	50%{
		transform: translateY( -500px );
	}
	100%{
		transform: translateY( -1000px );
	}
}